body {
  background-color: rgb(3, 31, 46);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.wrapper {
  background-color: rgb(2, 27, 40);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* border: 0px solid whitesmoke; */
  width: 93%;
  margin: 2%;
  padding: 2%;
  position: relative;
  box-shadow: 5px 5px 10px black;
}

.Exercise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 100px; */
}
#name {
  margin-bottom: 5px;
}
.Exercise p {
  margin: 0;
}

.wrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper2 h3 {
  margin: 0;
  padding-bottom: 15px;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
}

.delete {
  background-color: rgba(120, 11, 33, 0.537);
  color: white;
  border: none;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#myForm {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100px;
  padding: 20px;
  margin-top: 2rem;
  margin-bottom: 5rem;
  justify-content: space-around;
  background-color: rgb(2, 27, 40);
}

.Completed {
  background-color: rgb(2, 40, 32);
  box-shadow: rgb(3, 33, 26);
}

.incrementors {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.incrementors button{
  font-size: xx-large;
  margin: 0 2px  ;
  width: 40px;
  height: 40px;
  background-color: rgb(69, 76, 86);
  color: white;
  border: none;
}